[Unit]
Description=Enable mdev device (%i)
Before=docker.service
{% if vgpu_definition.mig_devices is defined %}
After=nvidia-mig-manager.service
Requires=nvidia-mig-manager.service
{% else %}
After=nvidia-sriov-{{ vgpu_definition.pci_address }}.service
Requires=nvidia-sriov-{{ vgpu_definition.pci_address }}.service
{% endif %}

[Service]
Restart=on-failure
RestartSec=30
Type=oneshot
User=root
ExecStartPre=/bin/sleep 5
ExecStart=-/usr/sbin/mdevctl start --uuid %i
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
